{% extends "poser/base.html" %}
{% block content %}
{% load icons %}
{% load static %}
<div class="container center">
    <div class="row">
        {% for item in seshs %}
            <div class="col-md-4 mt-4">
            <div class="card bg-dark text-light ">
                <div class='card-body color-white'>
                    <h2 class="card-title ">
                        Session {{ item.pk }}:
                    </h2>
                    <h6 class="card-subtitle mt-n2 text-capitalize">{{ item.sesh_date|date:'b d, Y' }}</h6>
                    <h2 class="card-title mb-1">
                        <div class="badge badge-light">Score {{ item.score }}</div>
                    </h2>

                </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}